[Unit]
Description=stovecam

[Service]
Type=simple
ExecStart=/home/pace/stovecam/stovecam-sender -q
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
