[Unit]
Description=stovecam

[Service]
User=pace
Type=simple
ExecStart=/home/pace/stovecam/sender/send.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
